<div class="container">
  <div class="center">
    <b>🙋&nbsp;{{ user.name }}</b>
    <br>
    <br>
    <a class="oauth" href="/logout">
      <img alt="LOGOUT" title="LOGOUT" src="/img/g.png" height=32>
      &nbsp;&nbsp;<b class="bla">LOGOUT</b>
    </a>
    <br>
    <br>
    {{#LOCALHOST}}
    {{#local_goauth_redirect}}
    <a class="oauth" href="{{ local_goauth_redirect }}?relogin">
      <img alt="NEW LOGIN" title="NEW LOGIN" src="/img/google_signin.png">
    </a>
    {{/local_goauth_redirect}}
    {{/LOCALHOST}}
    {{^LOCALHOST}}
    {{#goauth_redirect}}
    <a class="oauth" href="{{ goauth_redirect }}?relogin">
      <img alt="NEW LOGIN" title="NEW LOGIN" src="/img/google_signin.png">
    </a>
    {{/goauth_redirect}}
    {{/LOCALHOST}}
  </div>
</div>
