nealkoholicke-pivo-argus: 'Argus nealko'
nealkoholicke-pivo-bernard: 'Bernard nealko'
nealkoholicke-pivo-bertold: 'Bertold nealko'
nealkoholicke-pivo-bez-lepku-pivovar-ferdinand: 'Ferdinand bez lepku nealko'
nealkoholicke-pivo-birell: 'Birell nealko'
nealkoholicke-pivo-budweiser-budvar: 'Budweiser Budvar nealko'
nealkoholicke-pivo-heineken: 'Heineken nealko'
nealkoholicke-pivo-holba: 'Holba nealko'
nealkoholicke-pivo-ipa-birell: 'Birell IPA nealko'
nealkoholicke-pivo-ochucene-birell: 'Birell ochucené nealko'
nealkoholicke-pivo-ochucene-birgo: 'Birgo ochucené nealko'
nealkoholicke-pivo-ochucene-konrad: 'Konrad ochucené nealko'
nealkoholicke-pivo-ochucene-litovel: 'Litovel ochucené nealko'
nealkoholicke-pivo-ochucene-radler-zlatopramen: 'Zlatopramen Radler nealko'
nealkoholicke-pivo-ochucene-staropramen-cool: 'Staropramen COOL nealko'
nealkoholicke-pivo-platan: 'Platan nealko'
nealkoholicke-pivo-polotmave-birell: 'Birell polotmavé nealko'
nealkoholicke-pivo-premium-lobkowicz: 'Lobkowicz Premium nealko'
nealkoholicke-pivo-starocech: 'Staročech nealko'
nealkoholicke-pivo-staropramen: 'Staropramen nealko'
nealkoholicke-pivo-stella-artois: 'Stella-Artois nealko'
nealkoholicke-pivo-strizlik-postrizinske-pivovar-nymburk: 'Postřižinský Střízlík nealko'
nealkoholicke-pivo-za-studena-chmeleny-bakalar: 'Bakalář za studena chmelený nealko'
nealkoholicke-pivo-za-studena-chmeleny-birell: 'Birell za studena chmelený nealko'
nealkoholicke-pivo-zeleny-jecmen-birell: 'Birell Zelený ječmen nealko'
pivo-adventni-kalendar-pilsner-urquell: 'Pilsner Urquell - adventní kalendář'
pivo-blonde-blond-leffe: 'Leffe Blonde Blond'
pivo-branik: 'Braník 10°'
pivo-cerne-vycepni-10-krusovice: 'Krušovice 10° černé'
pivo-cerne-vycepni-10-velkopopovicky-kozel: 'Velkopopovický Kozel černá 10°'
pivo-cerne-vycepni-kralovske-10-krusovice: 'Krušovice Královské černé 10°'
pivo-desperados: 'Desperados'
pivo-extra-strong-bear-beer-harboe: 'Harboe Bear Extra Strong'
pivo-faxe: 'Faxe - Royal Unibrew, Dánsko'
pivo-guinness-draught: 'Guinness Draught'
pivo-hefe-weissbier-paulaner: 'Paulaner Hefe-Weißbier'
pivo-hobgoblin-wychwood: 'HobGoblin Wychwood'
pivo-horka-12-ze-sklepa-pardubicky-pivovar: 'Hořká 12° ze sklepa'
pivo-keltske-dedictvi: 'Keltské dědictví'
pivo-lezak-11-rezany-velkopopovicky-kozel: 'Velkopopovický Kozel 11° řezaný ležák'
pivo-lezak-11-velkopopovicky-kozel: 'Velkopopovický Kozel 11°'
pivo-lezak-12-bernard: 'Bernard 12°'
pivo-lezak-svetly-mythos: 'Mythos ležák'
pivo-mistruv-svetly-lezak-velkopopovicky-kozel: 'Velkopopovický Kozel Mistrův ležák 12°'
pivo-mixpack-bakalar: 'Bakalář MIX Pack'
pivo-my-price: 'My Price'
pivo-nealkoholicke-kralovsky-horke-krusovice: 'Krušovice Královsky hořké nealko'
pivo-nealkoholicke-my-price: 'My Price nealko'
pivo-ochucene-cortes: 'Cortes ochucený'
pivo-ochucene-litovel: 'Litovel ochucený'
pivo-ochucene-radler-harboe: 'Harboe Radler ochucené nealko'
pivo-ochucene-radler-zlatopramen: 'Zlatopramen Radler 0,0% ochucené nealko'
pivo-pilsner-urquell: 'Pilsner Urquell'
pivo-plne-svetle-psenicne-nefiltrovane-12-staropramen: 'Staropramen 12° pšeničné nefiltrované'
pivo-polotmavy-lezak-12-temne-horky-radegast: 'Radegast Temně hořká 12° polotmavý ležák'
pivo-polotmavy-lezak-granat-staropramen: 'Staropramen Granát polotmavý ležák'
pivo-polotmavy-lezak-starocech: 'Staročech polotmavý ležák'
pivo-premiovy-lezak-450-svijany-soudek: 'Svijany 450 prémiový ležák - soudek'
pivo-premium-lobkowicz: 'Lobkowicz Premium'
pivo-psenicne-svetle-wheat-beer-harboe: 'Wheat Beer Harboe pšeničné'
pivo-rastinger: 'Rastinger'
pivo-silne-tmave-cerna-barbora-13-ostravar: 'Ostravar Černá Barbora 13°'
pivo-svetle-branik: 'Braník'
pivo-svetle-breznak: 'Březňák'
pivo-svetle-hrabaluv-lezak-postrizinske-pivovar-nymburk: 'Postřižinské - Jubilejní Hrabalův ležák'
pivo-svetle-india-pale-ale-bernard: 'Bernard India Pale Ale'
pivo-svetle-kralovsky-lezak-12-krusovice: 'Krušovice Královský ležák 12°'
pivo-svetle-premium-rebel-pivovar-havlickuv-brod: 'Rebel Premium'
pivo-svetle-psenicne-kvasnicove-hefe-weissbier-paulaner: 'Paulaner Hefe-Weissbier pšeničné kvasnicové'
pivo-svetle-psenicne-nefiltrovane-weizenbier-primator: 'Primátor Weizenbier pšeničné nefiltrované'
pivo-svetle-psenicne-white-hoegaarden: 'White Hoegaarden pšeničné'
pivo-svetle-specialni-16-bohemian-ale-bernard: 'Bernard Bohemian Ale 16° speciál'
pivo-svetle-specialni-bock-samson: 'Samson Bock speciál'
pivo-svetle-specialni-psenicne-weisbier-erdinger: 'Weisbier Erdinger pšeničný speciál'
pivo-svetle-specialni-strong-argus: 'Argus Strong speciál'
pivo-svetle-velkopopovicky-kozel: 'Velkopopovický Kozel 10°'
pivo-svetle-vycepni-10-bohemia-regent: 'Bohemia Regent 10°'
pivo-svetle-vycepni-10-branik: 'Braník 10°'
pivo-svetle-vycepni-10-breznak: 'Březňák 10°'
pivo-svetle-vycepni-10-classic-litovel: 'Litovel Classic 10°'
pivo-svetle-vycepni-10-classic-pivovar-zubr: 'Zubr Classic 10°'
pivo-svetle-vycepni-10-haskuv-rebel-c-k-pivovar-havlickuv-brod: 'Haškův Rebel 10°'
pivo-svetle-vycepni-10-klasik: 'Klasik 10°'
pivo-svetle-vycepni-10-krusovice: 'Krušovice 10°'
pivo-svetle-vycepni-10-mikolas-ales-branik: 'Braník 10° Mikoláš Aleš'
pivo-svetle-vycepni-10-novopacke-broucek-pivovar-nova-paka: 'Brouček 10°'
pivo-svetle-vycepni-10-original-argus: 'Argus Original 10°'
pivo-svetle-vycepni-10-original-ostravar: 'Ostravar Original 10°'
pivo-svetle-vycepni-10-pardal: 'Pardál 10°'
pivo-svetle-vycepni-10-platan: 'Platan 10°'
pivo-svetle-vycepni-10-samson: 'Samson 10°'
pivo-svetle-vycepni-10-smichov-staropramen: 'Staropramen 10°'
pivo-svetle-vycepni-10-stare-brno-starobrno: 'Starobrno Staré Brno 10°'
pivo-svetle-vycepni-10-starocech: 'Staročech 10°'
pivo-svetle-vycepni-10-velkopopovicky-kozel: 'Velkopopovický Kozel 10°'
pivo-svetle-vycepni-10-zlatopramen: 'Zlatopramen 10°'
pivo-svetle-vycepni-bertold: 'Bertold  10°'
pivo-svetle-vycepni-budweiser-budvar: 'Budweiser Budvar 10°'
pivo-svetle-vycepni-decko-staropramen: 'Staropramen Déčko'
pivo-svetle-vycepni-extra-strong-bock: 'Bock Extra Strong'
pivo-svetle-vycepni-horska-10-holba: 'Holba Horská 10°'
pivo-svetle-vycepni-moravan-litovel: 'Litovel Moravan 10°'
pivo-svetle-vycepni-original-10-gambrinus: 'Gambrinus 10°'
pivo-svetle-vycepni-original-kralovska-10-krusovice: 'Krušovice Královský originál 10°'
pivo-svetle-vycepni-ratar-radegast: 'Radegast Ratar 10°'
pivo-svetle-vycepni-razna-10-radegast: 'Radegast Rázná 10°'
pivo-svetle-vycepni-svijanska-10-svijany: 'Svijanská 10°'
pivo-svetle-vycepni-trebonske-bohemia-regent: 'Bohemia Regent Třeboňské pivo'
pivo-svetle-zlatopramen: 'Zlatopramen'
pivo-svetly-lezak-11-echt-pardal: 'Pardál Echt 11°'
pivo-svetly-lezak-11-excelent: 'Gambrinus Excelent 11°'
pivo-svetly-lezak-11-grand-pivovar-zubr: 'Zubr Grand 11°'
pivo-svetly-lezak-11-jedenactka-branik: 'Braník Jedenáctka 11°'
pivo-svetly-lezak-11-jezek-pivovar-jihlava: 'Ježek 11°'
pivo-svetly-lezak-11-medium-velkopopovicky-kozel: 'Velkopopovický Kozel Medium 11°'
pivo-svetly-lezak-11-pivovar-rychtar: 'Rychtář 11°'
pivo-svetly-lezak-11-platan: 'Platan 11°'
pivo-svetly-lezak-11-premium-argus: 'Argus Premium 11°'
pivo-svetly-lezak-11-primator: 'Primátor 11°'
pivo-svetly-lezak-11-samson: 'Samson 11°'
pivo-svetly-lezak-11-serak-holba: 'Holba 11°'
pivo-svetly-lezak-11-staropramen: 'Staropramen 11°'
pivo-svetly-lezak-11-svijansky-maz-svijany-soudek: 'Svijanský Máz 11° - soudek'
pivo-svetly-lezak-11-svijansky-maz-svijany: 'Svijanský Máz 11°'
pivo-svetly-lezak-11-zlatopramen: 'Zlatopramen 11°'
pivo-svetly-lezak-12-ac-dc-soudek: 'AC/DC 12° - soudek'
pivo-svetly-lezak-12-bernard: 'Bernard 12°'
pivo-svetly-lezak-12-krusovice: 'Krušovice 12°'
pivo-svetly-lezak-12-maestic-argus: 'Argus Maestic 12°'
pivo-svetly-lezak-12-ostravar: 'Ostravar 12°'
pivo-svetly-lezak-12-patron-gambrinus: 'Gambrinus Patron 12°'
pivo-svetly-lezak-12-premium-bohemia-regent: 'Bohemia-Regent Premium 12°'
pivo-svetly-lezak-12-premium-holba: 'Holba Šerák Premium 12°'
pivo-svetly-lezak-12-premium-pivovar-zubr: 'Zubr Premium 12°'
pivo-svetly-lezak-12-premium-primator: 'Primátor Premium 12°'
pivo-svetly-lezak-12-premium-rychtar: 'Rychtář Premium 12°'
pivo-svetly-lezak-12-ryze-horka-radegast: 'Radegast Ryze hořká 12°'
pivo-svetly-lezak-12-samson: 'Samson 12°'
pivo-svetly-lezak-12-staropramen: 'Staropramen 12°'
pivo-svetly-lezak-12-svatecni-bernard: 'Bernard Sváteční 12°'
pivo-svetly-lezak-12-zlaty-bazant: 'Zlatý Bažant 12°'
pivo-svetly-lezak-33-budweiser-budvar: 'Budweiser Budvar 33'
pivo-svetly-lezak-b-original-budweiser-budvar-soudek: 'Budweiser Budvar B:ORIGINAL - soudek'
pivo-svetly-lezak-b-original-budweiser-budvar: 'Budweiser Budvar B:ORIGINAL'
pivo-svetly-lezak-bez-lepku-12-premium-ferdinand: 'Ferdinand Premium bezlepková 12°'
pivo-svetly-lezak-birra-moretti: 'Birra Moretti ležák'
pivo-svetly-lezak-bitr-starobrno: 'Starobrno Bitr'
pivo-svetly-lezak-branik: 'Braník ležák'
pivo-svetly-lezak-budweiser-budvar: 'Budweiser Budvar ležák'
pivo-svetly-lezak-corona-extra: 'Corona Extra ležák'
pivo-svetly-lezak-extra-chmelena-12-staropramen: 'Staropramen Extra chmelená 12°'
pivo-svetly-lezak-heineken-soudek: 'Heineken ležák - soudek'
pivo-svetly-lezak-heineken: 'Heineken ležák'
pivo-svetly-lezak-india-pale-ale-primator: 'Primátor India Pale Ale'
pivo-svetly-lezak-krusovice: 'Krušovice ležák'
pivo-svetly-lezak-kvasnicova-11-bernard: 'Bernard Kvasnicová jedenáctka'
pivo-svetly-lezak-lobkowicz: 'Lobkowicz ležák'
pivo-svetly-lezak-mustang-11-ostravar: 'Ostravar Mustang 11°'
pivo-svetly-lezak-nastro-azzurro-peroni: 'Peroni Nastro Azzurro ležák'
pivo-svetly-lezak-nefiltrovane-india-pale-lager-tchyne-primator: 'Primátor Tchýně India Pale Lager nefiltrovaný'
pivo-svetly-lezak-nefiltrovany-vaclav-litovel: 'Litovel Václav nefiltrovaný ležák'
pivo-svetly-lezak-nepasterizovany-11-medium-starobrno: 'Starobrno Medium 11° nepasterizovaný ležák'
pivo-svetly-lezak-postrizinske-pivovar-nymburk: 'Postřižinská jedenáctka'
pivo-svetly-lezak-premium-argus: 'Argus Premium ležák'
pivo-svetly-lezak-premium-faxe: 'Faxe Premium ležák'
pivo-svetly-lezak-premium-keltske-dedictvi: 'Keltské dědictví Premium'
pivo-svetly-lezak-premium-klaster: 'Klášter Premium'
pivo-svetly-lezak-premium-litovel: 'Litovel Premium'
pivo-svetly-lezak-premium-lobkowicz: 'Lobkowicz Premium'
pivo-svetly-lezak-premium-ostravar: 'Ostravar Premium'
pivo-svetly-lezak-premium-pivovar-hubertus: 'Hubertus Premium'
pivo-svetly-lezak-premium-platan: 'Platan Premium'
pivo-svetly-lezak-premium-starocech: 'Staročech Premium'
pivo-svetly-lezak-starocech: 'Staročech ležák'
pivo-svetly-lezak-staropramen: 'Staropramen ležák'
pivo-svetly-lezak-stella-artois: 'Stella-Artois ležák'
pivo-svetly-lezak-thajske-singha: 'Singha thajský ležák'
pivo-svetly-lezak-xi-rebel-pivovar-havlickuv-brod: 'Rebel XI ležák'
pivo-svetly-lezak-za-studena-chmeleny-bakalar: 'Bakalář 12° Ležák za studena chmelený'
pivo-svetly-sezonni-lezak-staropramen: 'Staropramen Sezónní ležák'
pivo-svetly-vycepni-special-rog-ipa-radegast: 'Radegast ROG IPA speciál'
pivo-tmave-pardubicky-porter-pardubicky-pivovar: 'Pardubický Porter 19° tmavý'
pivo-tmave-specialni-brune-bruin-leffe: 'Leffe 16° Brune tmavý ležák'
pivo-tmave-vycepni-dark-litovel: 'Litovel Dark'
pivo-tmavy-lezak-11-samson: 'Samson 11° tmavý ležák'
pivo-tmavy-lezak-hubertus: 'Hubertus tmavý ležák'
pivo-tmavy-lezak-premium-litovel: 'Litovel Premium tmavý ležák'
pivo-weissbier-paulaner: 'Weissbier Paulaner'
pivo-zlaty-bazant: 'Zlatý Bažant'
sklenice-na-pivo: 'sklenice na pivo' # excluded in ApiPresenter