### CHYTRÁ LAHVÁRNA PWA

# uncomment to force debugger !!!
#dbg: TRUE
dbg: FALSE

# CORE
app: lahvarna
date_default_timezone: 'Europe/Prague'
project: TESSERACT
secret_cookie_key: secure.key
version: v1
canonical_url: 'https://1950.mxd.cz/'

# GCP ID
gcp_project_id: 'gscloudcz-163314'

# Google OAUTH 2.0
goauth_origin: 'https://1950.mxd.cz'
goauth_redirect: 'https://1950.mxd.cz/login'

# local Google OAUTH 2.0
local_goauth_origin: 'http://localhost:8002'
local_goauth_redirect: 'http://localhost:8002/login'

# Google properties
google: [
#  UA: 'UA-xxx'
]

# cache profiles
cache_profiles: [
  tenminutes: "+10 minutes"
]

# Redis configuration
redis: [
  port: 6377
  timeout: 1
]

# CSV data
data: [
  texty: '2PACX-1vTDkEIbLHxadWBps7cvWNN6699wlsCB7GpwBlJ_-M_TObHnMzNG_b1jnDFu6XoVIrXjQYyepKqOTLw_'
  lahve: '2PACX-1vQmC2JG3i-NGdqSUTyAmXBmx_5A4oanfJBEqwCDHYFMVlTSHGmQ5CpJX5gxeqaHgiLTB8NhhDLxiPu4'
  prepravky: '2PACX-1vTVRFD-DghrRMEECMr06ZaxiP-VPMQ2_EL7wk-18mBm8LYFXnNssv97lqzHHwXH8_BEP4FvNgNDyD_C'
]

# locale
lang: cs
l:
  author: 'Fred Brooker @ GS Cloud Ltd. 2022-2023'
  but_api: '<i>settings_input_component</i>&nbsp;&nbsp;REST API'
  but_beer_all: 'vše'
  but_beer_bottled: 'lahvové'
  but_beer_bottled_history: 'historie'
  but_category: '<i>category</i>'
  but_changelog: '<i>grading</i>&nbsp;&nbsp;PŘEHLED ZMĚN'
  but_save_pin: '💾&nbsp;&nbsp;ULOŽIT'
  but_market: '<i>store</i>'
  but_market_local: 'lokální'
  but_market_all: 'vše'
  but_sort: '<i>sort</i>'
  but_sort_alpha: '<i>sort_by_alpha</i>'
  but_sort_default: '<i>thumb_up</i>'
  but_sorting: '<i class="groups_filter">filter_list</i>&nbsp;&nbsp;'
  but_update: '<i>refresh</i>&nbsp;&nbsp;AKTUALIZOVAT'
  description: 'Aplikace Chytrá lahvárna PWA je určena pro interní použití v pobočce Kaufland ČR v.o.s. Brno-Slatina.'
  err_connection: 'Chyba připojení k internetu!'
  info_demo: 'Pro zapnutí demoverze zadej PIN "<b>demo</b>".'
  info_pin_saved: 'PIN uložen!'
  keywords: 'flašky,lahve,lahvárna,kauf,kaufland,fred,brooker,gscloud,gscloud.cz,mxd,mxd.cz,brno,pwa,recycling,bottles,rebolek,red,red-lang'
  nav_game: 'Hry'
  nav_info: 'Info'
  nav_message: 'Zprávy'
  nav_price: 'Akce'
  nav_warehouse: 'Sklad'
  no_cookies: 'Aplikace nepoužívá cookies třetích stran.'
  noscript: 'Povolte, prosím, JavaScript!<br>Bez něj je tato aplikace zcela nefunkční.'
  security_level_high: 'vysoká'
  security_level_low: 'nízká'
  security_level_none: 'TLS 1.2'
  security_level_pin: 'PIN'
  switch_design: '🔳🔲 design'
  switch_music: '🎹 hudba'
  switch_sfx: '🔊 zvuky'
  switch_vibrate: '📳 vibrace'
  text_date: 'datum vydání:'
  text_encryption: 'šifrování:'
  text_login_type: 'přihlášení:'
  text_quota: 'stav hodinové kvóty API:'
  text_role: 'role:'
  text_security_level: 'úroveň zabezpečení:'
  text_version: 'verze:'
  theme_color: '#000'
  tit_appinfo: 'Chytrá lahvárna PWA'
  tit_game: 'Kvízy a&nbsp;hry'
  tit_info: 'Informace'
  tit_message: 'Zprávy a&nbsp;logy'
  tit_price: 'Akční ceny'
  tit_user: 'Uživatel'
  tit_warehouse: 'Sklad'
  title: 'LAHVÁRNA'
  webshare_button: '<i>share</i>&nbsp;&nbsp;sdílej'
  
swpreload: [
  '/sfx/click1.mp3'
  '/sfx/click2.mp3'
  '/sfx/click3.mp3'
  '/sfx/click4.mp3'
  '/sfx/click5.mp3'
  '/sfx/laser.mp3'
]

swpreload_cdn: [
  '/css/beer.min.css'
  '/img/albert.webp'
  '/img/beercss.png'
  '/img/billa.webp'
  '/img/cba.webp'
  '/img/eso.webp'
  '/img/flop.webp'
  '/img/globus.webp'
  '/img/jip.webp'
  '/img/k-app-logo.png'
  '/img/kaufland.webp'
  '/img/lidl.webp'
  '/img/makro.webp'
  '/img/penny.webp'
  '/img/pwa.png'
  '/img/tamda.webp'
  '/img/tesco.webp'
  '/js/beer.min.js'
  '/js/material-dynamic-colors.min.js'
]
