10: '10°'
11: '11°'
12: '12°'
bakalar: 'Bakalář'
bazant: 'Bažant'
bernard: 'Bernard'
birell: 'Birell'
bock: 'Bock'
branik: 'Braník'
budvar: 'Budvar'
gambrinus: 'Gambrinus'
heineken: 'Heineken'
holba: 'Holba'
kozel: 'Kozel'
krusovice: 'Krušovice'
leffe: 'Leffe'
litovel: 'Litovel'
lobkowicz: 'Lobkowicz'
nealkoholicke: 'nealkoholické'
ostravar: 'Ostravar'
paulaner: 'Paulaner'
platan: 'Platan'
primator: 'Primátor'
radegast: 'Radegast'
regent: 'Regent'
rychtar: 'Rychtář'
samson: 'Samson'
soudek: 'soudek'
staropramen: 'Staropramen'
svijany: 'Svijany'
weissbier: 'Weissbier'
zubr: 'Zubr'