10: '10°'
11: '11°'
12: '12°'
argus: 'Argus'
bakalar: 'Bakalář'
bazant: 'Bažant'
bernard: 'Bernard'
birell: 'Birell'
bock: 'Bock'
branik: 'Braník'
breznak: 'Březňák'
budvar: 'Budvar'
cerne: 'černé'
gambrinus: 'Gambrinus'
heineken: 'Heineken'
holba: 'Holba'
kozel: 'Kozel'
krusovice: 'Krušovice'
leffe: 'Leffe'
litovel: 'Litovel'
lobkowicz: 'Lobkowicz'
nealkoholicke: 'nealkoholické'
nefiltrovane: 'nefiltrované'
ochucene: 'ochucené'
ostravar: 'Ostravar'
pardal: 'Pardál'
paulaner: 'Paulaner'
pilsner: 'Pilsner'
platan: 'Platan'
primator: 'Primátor'
radegast: 'Radegast'
regent: 'Regent'
rychtar: 'Rychtář'
samson: 'Samson'
soudek: 'soudek'
specialni: 'speciální'
starobrno: 'Starobrno'
starocech: 'Staročech'
staropramen: 'Staropramen'
svijany: 'Svijany'
weissbier: 'Weissbier'
zlatopramen: 'Zlatopramen'
zubr: 'Zubr'