call1:
  path: "/api/v1/call1/[a:string]"
  api_description: "API call example #1"
  api_info: "Returns: array of records"
  api_example: [
    "api/v1/call1/foo"
    "api/v1/call1/bar42"
    "api/v1/call1/666"
  ]
  api: true
  assert_json: true
  finished: true
  presenter: api

uuid:
  path: "/api/v1/getuuid"
  api_description: "Get UUID"
  api_info: "Returns (JSON): UUID string"
  api: true
  assert_json: true
  finished: false
  presenter: api
