GetVersion:
  path: "/api/v1/GetVersion"
  method: GET
  api_description: "Get version"
  api_info: "Returns (JSON): git hash version (string)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetSalt:
  path: "/api/v1/GetSalt"
  method: GET
  api_description: "Get salt"
  api_info: "Returns (JSON): salt (string), today (string)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetChangeLog:
  path: "/api/v1/GetChangeLog"
  method: GET
  api_description: "Get changelog content"
  api_info: "Returns (JSON): changelog (string)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetDiscounts:
  path: "/api/v1/GetDiscounts"
  method: GET
  api_description: "Get beer discounts (bottled beer)"
  api_info: "Returns (JSON): discounts (array), groups (array)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetDiscountsByName:
  path: "/api/v1/GetDiscountsByName"
  method: GET
  api_description: "Get beer discounts sorted by name (bottled beer)"
  api_info: "Returns (JSON): discounts (array), groups (array)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetDiscountsAll:
  path: "/api/v1/GetDiscountsAll"
  method: GET
  api_description: "Get beer discounts (all beer products)"
  api_info: "Returns (JSON): discounts (array), groups (array)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetDiscountsAllByName:
  path: "/api/v1/GetDiscountsAllByName"
  method: GET
  api_description: "Get beer discounts sorted by name (all beer products)"
  api_info: "Returns (JSON): discounts (array), groups (array)"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetUser:
  path: "/api/v1/GetUser"
  method: GET
  api_description: "Get user information"
  api_info: "Returns (JSON): user information (array)"
  api: true
  assert_json: false
  assert_httpcode: 200
  finished: true
  allow_key: true
  presenter: api

GetPublicInfo:
  path: "/api/v1/GetPublicInfo"
  api_description: "Get general public information"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 404
  finished: false
  presenter: api

GetPrivateInfo:
  path: "/api/v1/GetPrivateInfo"
  api_description: "Get general information incl. private parts"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 403
  finished: false
  use_key: true
  presenter: api

GetBottlesInfo:
  path: "/api/v1/GetBottlesInfo"
  api_description: "Get general bottles information"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 404
  finished: false
  presenter: api

GetCratesInfo:
  path: "/api/v1/GetCratesInfo"
  api_description: "Get general crates information"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 404
  finished: false
  presenter: api
