GetUUID:
  path: "/api/v1/GetUUID"
  method: GET
  api_description: "Get UUID"
  api_info: "Returns (JSON): UUID string"
  api: true
  assert_json: true
  assert_httpcode: 200
  finished: true
  presenter: api

GetUserClass:
  path: "/api/v1/GetUserClass"
  method: GET
  api_description: "Get user class"
  api_info: "Returns (JSON): class string"
  api: true
  assert_json: false
  assert_httpcode: 403
  finished: false
  use_key: true
  presenter: api

GetSupportInfo:
  path: "/api/v1/GetSupportInfo"
  api_description: "Get support information"
  api_info: "Returns (JSON): array of strings"
  api: true
  assert_json: false
  assert_httpcode: 403
  finished: false
  use_key: true
  presenter: api

GetBottlesInfo:
  path: "/api/v1/GetBottleInfo"
  api_description: "Get bottles information"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 403
  finished: false
  use_key: true
  presenter: api

GetCratesInfo:
  path: "/api/v1/GetCratesInfo"
  api_description: "Get crates information"
  api_info: "Returns (JSON): array of data"
  api: true
  assert_json: false
  assert_httpcode: 403
  finished: false
  use_key: true
  presenter: api
