<!-- basic tuning -->
body{width:100%;display:block}
.center{text-align:center}
.hidden{display:none !important}
.material-icons.md-18{font-size:18px}
.material-icons.md-24{font-size:24px}
.material-icons.md-36{font-size:36px}
.material-icons.md-48{font-size:48px}
.monospace{font-family: monospace, monospace}

<!-- disable Google Touch to Search feature -->
nav {-webkit-user-select: none}
body {-webkit-user-select: none}

<!-- bottom scroll progress bar -->
.progress-container {width:100%;height:8px;position:fixed !important}
.progress-bar {height:8px;background:#4caf50;width:0%}

<!-- helpers -->
.truncate{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.small-text{font-size:10rem!important}
.medium-text{font-size:14rem!important}
.large-text{font-size:16rem!important}
.upper{text-transform:uppercase}
.lower{text-transform:lowercase}
.capitalize{text-transform:capitalize}
.bold{font-weight:700}
.overline{text-decoration:line-through}
.underline{text-decoration:underline}
.italic{font-style:italic}
.copy{cursor:copy}
.help{cursor:help}
.alias{cursor:alias}
