<div id="appinfo_modal" class="modal hidden">
<article class="no-padding">
  <div class="row no-wrap no-space">
    <div class="col">
      <div class="padding">
        <h5 class="bold white-text" tabindex="-1">{{ l.tit_appinfo }}</h5>
        <div>
          <b>
            <a rel=nofollow target=_blank class="green-text" href="https://github.com/GSCloud/kaufland">https://github.com/GSCloud/kaufland</a>
          </b>
          <br>
          <br>
          <div class="small-text" tabindex="-1">
            verze: <b class="white-text">{{ VERSION_SHORT }}</b>
            <br>
            datum vydání: <b class="white-text">{{ VERSION_DATE }}</b>
            <br>
            <br>
            přehled změn:
            <b><a target=_blank class="green-text bold" href="/changelog.txt">/changelog.txt</a></b>
            <br>
            <br>
            REST API:
            <b><a target=_blank class="green-text bold" href="/api">/api</a></b>
            <br>
            <br>
            <div class="center bold yellow-text">
            {{>webshare}}
            </div>
          </div>
        </div>
        <nav class="container">
          <button class="nav_update responsive blue bold white-text">{{ l.but_update }}</button>
        </nav>
      </div>
    </div>
  </div>
</article>
</div>

<div id="info" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_info }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Zde budou základní informace o práci lahvaře a fungování lahvárny Kaufland.</p>
    </div>
  </div>
</div>

<div id="game" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_game }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>V přípravě jsou hry <b>Milionář z lahvárny</b> a <b>Lahvové pexeso</b>.</p>
    </div>
  </div>
</div>

<div id="message" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_message }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Centrální místo pro pracovní vzkazy a generované logy o provedených akcích.</p>
    </div>
  </div>
</div>

<div id="price" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_price }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Automatizovaný přehled slevových akcí na pivo ve skle řetězců Kaufland, Lidl, Penny a Albert.</p>
    </div>
  </div>
</div>

<div id="warehouse" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_warehouse }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Orientační náhled skladových zásob.</p>
    </div>
  </div>
</div>

<div id="config" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_config }}</h4>
    <div class="large-padding" tabindex="-1">
      <div class="row large-space">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="ui">
            <span>⬜️ design</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="vibrate">
            <span>📳 vibrace</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="sfx">
            <span>🔊 efekty</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="music">
            <span>🎹 hudba</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="user" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_user }}</h4>
{{#admin_group_tester}}
    <div class="center-align padding" tabindex="-1">
      <a href="?cssdebug=1&nonce={{ nonce }}" class="">
        <button class="nav_update responsive blue bold white-text">CSS debugger</button>
      </a>
    </div>
{{/admin_group_tester}}
    <div class="left-align padding" tabindex="-1">
      {{^user.id}}
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>login}}
            </div>
          </div>
        </div>
      </div>
      {{/user.id}}

      {{#user.id}}
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>logout}}
            </div>
          </div>
        </div>
      </div>
      {{/user.id}}
    </div>
  </div>
</div>

<script>
  (function (w, $, undefined) {
    "use strict";

    // GSC.ComOn() - communication icon ON
    if (typeof GSC.ComOn !== "function") GSC.ComOn = function() {
      $('#comm').show(10);
    }

    // GSC.ComOff() - communication icon OFF
    if (typeof GSC.ComOff !== "function") GSC.ComOff = function() {
      $('#comm').hide(10);
    }

    // *** DELAYED FUNCTIONS ***

    GSC._fn.push(function () {
      // add nonce to all anchors
      $("main")
        .find("a")
        .each(function () {
          var h = $(this).attr("href");
          var nonce = "?nonce=" + Math.round(Math.random() * 10000);
          if (h.indexOf("?") == -1 && h.indexOf("http") != -1) {
            $(this).attr("href", h + nonce);
          }
        });
    });

    GSC._fn.push(function () {
      // set UI theme colors
      ui("theme", {
        dark: "--primary:#c00000;--on-primary:#5f150d;--primary-container:#7d2b20;--on-primary-container:#ffdad3;--secondary:#e7bdb6;--on-secondary:#442925;--secondary-container:#5d3f3a;--on-secondary-container:#ffdad3;--tertiary:#dec48c;--on-tertiary:#3e2e04;--tertiary-container:#564418;--on-tertiary-container:#fbdfa5;--error:#ffb4a9;--error-container:#930006;--on-error:#680003;--on-error-container:#ffdad4;--background:#201a19;--on-background:#ede0de;--surface:#201a19;--on-surface:#ede0de;--surface-variant:#534341;--on-surface-variant:#d8c2be;--outline:#a08c89;--inverse-on-surface:#201a19;--inverse-surface:#ede0de;--inverse-primary:#9c4235;--shadow:#000000;",
        light: "--primary:#c00000;--on-primary:#ffffff;--primary-container:#ffdad3;--on-primary-container:#410000;--secondary:#775752;--on-secondary:#ffffff;--secondary-container:#ffdad3;--on-secondary-container:#2c1511;--tertiary:#705c2e;--on-tertiary:#ffffff;--tertiary-container:#fbdfa5;--on-tertiary-container:#261a00;--error:#ba1b1b;--error-container:#ffdad4;--on-error:#ffffff;--on-error-container:#410001;--background:#fcfcfc;--on-background:#201a19;--surface:#fcfcfc;--on-surface:#201a19;--surface-variant:#f5deda;--on-surface-variant:#534341;--outline:#867370;--inverse-on-surface:#fbeeec;--inverse-surface:#362f2e;--inverse-primary:#ffb4a6;--shadow:#000000;"
      });
    });

  })(window, $);

</script>
