<div id="appinfo_modal" class="modal hidden">
  <article class="no-padding">
    <div class="row no-wrap no-space">
      <div class="col">
        <div class="padding">
          <h5 class="bold white-text" tabindex="-1">{{ l.tit_appinfo }}</h5>
          <div>
            <b>
              <a rel=nofollow target=_blank class="green-text" href="https://github.com/GSCloud/kaufland">https://github.com/GSCloud/kaufland</a>
            </b>
            <br>
            <br>
            <div class="small-text" tabindex="-1">
              {{ l.txt_version }} <b class="white-text">{{ VERSION_SHORT }}</b>
              &nbsp;&nbsp;
              {{ l.txt_date }} <b class="white-text">{{ VERSION_DATE }}</b>
              <br>
              <div class="center bold large-text orange-text">
                {{>webshare}}
              </div>
              <br>
              <nav class="container">
                <button class="nav_api grey responsive bold white-text">{{ l.but_api }}</button>
              </nav>
              <nav class="container">
                <button class="nav_changelog responsive blue bold white-text">{{ l.but_changelog }}</button>
              </nav>
            </div>
          </div>
          <nav class="container">
            <button class="nav_update responsive blue bold white-text">{{ l.but_update }}</button>
          </nav>
          <br>
          <div class="row">
            <div class="col s6">
              <a href="https://web.dev/progressive-web-apps/"><img class="responsive" src="{{ cdn }}/img/pwa.png" alt="PWA"/></a>
            </div>
            <div class="col s6">
              <a href="https://beercss.com/"><img class="responsive" src="{{ cdn }}/img/beercss.png" alt="Beercss"/></a>
            </div>
          </div>          
          {{ l.no_cookies }}
        </div>
      </div>
    </div>
  </article>
</div>
<div id="changelog_modal" class="modal medium hidden">
  <article class="no-padding">
    <div class="row no-wrap no-space">
      <div class="col">
        <div class="no-padding">
          <div id="changelog_box" class="white-text padding"></div>
        </div>
      </div>
    </div>
  </article>
</div>
<div id="err_connection" class="toast pink white-text hidden">
  <i>error</i>
  <span>{{ l.err_connection}}</span>
</div>
<div id="pin_saved" class="toast green white-text hidden">
  <i>check_circle_outline</i>
  <span>{{ l.info_pin_saved }}</span>
</div>
<div id="info" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_info }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Zde budou základní informace o práci lahvaře a fungování lahvárny Kaufland.</p>
    </div>
  </div>
</div>
<div id="game" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_game }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>V přípravě jsou hry <b>Milionář z lahvárny</b> a <b>Lahvové pexeso</b>.</p>
    </div>
  </div>
</div>
<div id="message" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_message }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Centrální místo pro pracovní vzkazy a generované logy o provedených akcích.</p>
    </div>
  </div>
</div>
<div id="price" class="hidden section">
  <div class="center">
    <span class="bold" id="discounts_description"></span> &mdash; <span id="discounts_date"></span>
  </div>
  <div class="center padding">
    <div id="discounts_filters"></div>
    <div id="discounts_groups"></div>
  </div>
  <div id="discounts"></div>
  <button id="discount_group_template" class="filter_group hidden small secondary round" style="margin:2px"></button>
  <div id="discount_template" class="hidden">
    <div class="no-padding" style="margin-top:5px">
      <span class="grey-text bold monospace counter"></span><span class="grey-text monospace">/</span><span class="grey-text monospace counter_all"></span>&nbsp;&nbsp;<b class="title truncate"></b></div>
    <div class="row no-padding" style="color:#fff;border-bottom:2px solid #000">
      <div class="col s1 kaufland hidden"><img class="square responsive" src="/img/markets/kaufland.webp"></div>
      <div class="col s2 kaufland left-align hidden"><b class="kaufland_price"></b></div>
      <div class="col s1 lidl hidden"><img  class="square responsive" src="/img/markets/lidl.webp"></div>
      <div class="col s2 lidl left-align hidden"><b class="lidl_price"></b></div>
      <div class="col s1 penny hidden"><img  class="square responsive" src="/img/markets/penny.webp"></div>
      <div class="col s2 penny left-align hidden"><b class="penny_price"></b></div>
      <div class="col s1 albert hidden"><img  class="square responsive" src="/img/markets/albert-supermarket.webp"></div>
      <div class="col s2 albert left-align hidden"><b class="albert_price"></b></div>
    </div>
  </div>
</div>
<div id="warehouse" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_warehouse }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Orientační náhled skladových zásob.</p>
    </div>
  </div>
</div>
<div id="config" class="white-text hidden section">
  <div class="center-align padding">
    <div class="large-padding" tabindex="-1">
      <div class="row large-space">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="ui">
            <span>{{ l.switch_design }}</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="vibrate">
            <span>{{ l.switch_vibrate }}</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="sfx">
            <span>{{ l.switch_sfx }}</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="music">
            <span>{{ l.switch_music }}</span>
          </label>
        </div>
      </div>
      Zvukové efekty jsou ukládány do mezipaměti a&nbsp;měly by fungovat offline, hudba však bude streamovaná online.
    </div>
{{#admin_group_tester}}
    <article class="center small-padding" tabindex="-1">
      <h5>Testy</h5>
      <button class="nav_test_vib blue small white-text"><i>play_circle_outline</i>&nbsp;&nbsp;vibrace</button>
      <button class="nav_test_sfx blue small white-text"><i>play_circle_outline</i>&nbsp;&nbsp;zvuk</button>
      <button class="nav_test_music blue small white-text"><i>play_circle_outline</i>&nbsp;&nbsp;hudba</button>
    </article>
    <div class="large-padding">
      Zatím je funkční test zvuku a&nbsp;vibrací, hudba je v&nbsp;blízkém plánu. Pokud zařízení vibrace nepodporuje, nestane se vůbec nic.
    </div>
{{/admin_group_tester}}
  </div>
</div>
<div id="user" class="white-text hidden section">
  <div class="center-align padding">
    <div class="left-align no-padding" tabindex="-1">
      <div class="center padding">
        {{ l.info_demo }}
      </div>
      <div class="row">
        <div class="col s6">
          <div class="small field label prefix border">
            <i>password</i>
            <input id="pin" autocomplete="off" name="pin" type="password"/>
            <label>PIN</label>
          </div>
        </div>
        <div class="col s6">
          <button class="responsive blue white-text save_pin bold">
            {{ l.but_save_pin }}
          </button>
        </div>
      </div>
      {{^user.id}}
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>login}}
            </div>
          </div>
        </div>
      </div>
      {{/user.id}}
      <div class="center-align small-padding" tabindex="-1">
        <div id="role_row" class="hidden">{{ l.text_role }} <b id="role"></b><br></div>
        <div id="login_type_row" class="hidden">{{ l.text_login_type }} <b id="login_type"></b><br></div>
        <div id="security_level_row" class="hidden">
          {{ l.text_security_level }} <b id="security_level"></b><br>
          {{#user.id}}{{ l.text_encryption }} <b>XChaCha20 + BLAKE2b-MAC</b><br>{{/user.id}}
        </div>
        {{l.txt_quota }}&nbsp;<span class="bold quota_actual"></span>/<span class="bold quota_total"></span>
      </div>
      {{#user.id}}
      <article class="border">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>logout}}
            </div>
          </div>
        </div>
      </article>
      {{/user.id}}
    </div>
  </div>
{{#admin_group_tester}}
    <div class="center-align padding" tabindex="-1">
      <a href="?cssdebug=1&nonce={{ nonce }}" class="">
        <button class="responsive blue bold white-text">CSS debugger</button>
      </a>
    </div>
    <article id="debuglist" class="truncate left-align black small-padding small-text" tabindex="-1">
    </article>
{{/admin_group_tester}}
</div>
<script>
  (function (w, $, undefined) {
    "use strict";

    // something is really broken = unsupported browser
    if (!localStorage) {
      w.location.href = '/err/600';
      if (!localStorage["uuid"]) {
        w.location.href = '/err/600';
      }
    }

    // AudioContext
    GSC.audioctx = null;

    // last interaction time
    GSC.lastclick = null

    // user information
    GSC.user = null;

    // list of modals
    GSC.modals = [];

    // audio buffers
    GSC.sfxbuffers = [];

    // today date
    GSC.today = null;

    // today salt
    GSC.salt = null;

    // API translations
    var security_levels = [];
    security_levels["high"] = "{{ l.security_level_high }}";
    security_levels["low"] = "{{ l.security_level_low }}";
    security_levels["none"] = "{{ l.security_level_none }}";
    security_levels["pin"] = "{{ l.security_level_pin }}";

    // markets allowed
    var markets_allowed = [
      'kaufland',
      'lidl',
      'penny',
      'albert'
    ];

    // LP context menu
    w.oncontextmenu = function(e) {
      if (e.target && e.target.id) {
        // switch by id
        switch (e.target.id) {
          case 'logo':
            if (GSC.touch) $('.nav_update').click();
            break;

          default:
            console.log(e.target.id);
        }
      }
      //return false; // false = prevent context menu
      return true; // true = enable context menu
    }

    // *** GSC FUNCTIONS ***

    // GSC.ComOn() - communication icon fade-in = ON
    if (typeof GSC.ComOn !== "function") GSC.ComOn = function() {
      if (GSC.offline) return;
      $('#comm').removeClass('hidden').fadeIn(10);
    }

    // GSC.ComOff() - communication icon fade-out = OFF
    if (typeof GSC.ComOff !== "function") GSC.ComOff = function() {
      $('#comm').removeClass('hidden').fadeOut('slow');
    }

    // GSC.D() - add text to debug list (string)
    if (typeof GSC.D !== "function") GSC.D = function(x) {
      if (x === undefined) return;
      var current = new Date();
      var t = current.toLocaleTimeString(); 
      $('#debuglist').prepend('<p><span class="green-text">' + t + '</span>&nbsp;' + x + '</p>');
    }

    // GSC.Vibrate() - vibration (array)
    if (typeof GSC.Vibrate !== "function") GSC.Vibrate = function(x) {
      if (x === undefined) return;
      window.navigator.vibrate(x);
    }

    // GSC.DefClick() - default sound click
    if (typeof GSC.DefClick !== "function") GSC.DefClick = function() {
      if (GSC.preventclick) return;
      GSC.PlaySound('click4');
    }

    // *** DELAYED FUNCTIONS ***

    // add nonce to anchors
    GSC._fn.push(function AddNonceToAnchors() {
      $("main")
        .find("a")
        .each(function () {
          var h = $(this).attr("href");
          var nonce = "?nonce=" + Math.round(Math.random() * 1000000);
          if (h && h.indexOf("?") == -1 && h.indexOf("http") != -1) {
            $(this).attr("href", h + nonce);
          }
        });
    });

    // AJAX event handlers
    GSC._fn.push(function AJAXeventHandlers() {
      $(document).ajaxSend(function(evt, request, settings) {
        GSC.ComOn();
        GSC.D('<b>'
          + settings.type
          + '</b> <a class="blue-text underline" target=_blank href="'
          + settings.url + '">'
          + settings.url + '</a>');
      });
      $(document).ajaxComplete(function() {
        GSC.ComOff();
      });
    });

    // custom functions
    GSC._fn.push(function CustomGSCfunctions() {

      // check version
      function checkVersion() {
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.version_timestamp && (GSC.version_timestamp + 10*1000 > +new Date())) return false;
        var nonce = "?nonce=" + Math.round(Math.random() * 1000000);
        $.get('/api/v1/GetVersion' + nonce, function(data) {
          $('.quota_actual').html(data.api_usage);
          $('.quota_total').html(data.api_quota);
          GSC.version_timestamp = +new Date();
          if (data && data.data && data.data.version) {
            if (data.data.version != "{{ VERSION }}") {
              if (GSC.chverint) {
                clearInterval(GSC.chverint);
              }
              $('.nav_app>span.badge').removeClass('hidden');
              $('.nav_update').removeClass('blue').addClass('red');
              GSC.D('<span class="red bold white-text">&nbsp;NEW VERSION IS AVAILABLE!&nbsp;</span>');
              GSC.PlaySound('update');
              // skip the modal dialog if user interaction is under 60 seconds
              if (GSC.lastclick && (+new Date() < (GSC.lastclick + 60*1000))) return;
              if (GSC.modals.length) {
                GSC.modals.forEach(el => {
                  $('#' + el).removeClass('active');
                });
              }
              GSC.modals = [];
              GSC.modals.push('appinfo_modal');
              $('#appinfo_modal').addClass('active');
            }
          }
        });
      }

      // get beer price discounts by type and render the data
      function getDiscounts(type) {
        if (GSC.offline) {
          GSC.RenderDiscounts();
          return;
        }
        // invalidate discounts timestamp after 10 minutes
        if (GSC.discounts_timestamp && (GSC.discounts_timestamp + 600*1000 < +new Date())) GSC.discounts_timestamp = null;
        // 30 secs. timeout limiter
        if (GSC.discounts_timestamp && (GSC.discounts_timestamp + 30*1000 > +new Date())) return false;
        // prevent concurrent runtime
        GSC.discounts_timestamp = +new Date();
        var nonce = "?nonce=" + Math.round(Math.random() * 1000000);
        // TODO: set type
        $.get('/api/v1/GetDiscounts' + nonce).done(function(data) {
          GSC.discounts_timestamp = +new Date();
          $('.quota_actual').html(data.api_usage);
          $('.quota_total').html(data.api_quota);
          if (data && data.data) {
            localStorage["discounts"] = JSON.stringify(data.data);
          }
          GSC.RenderDiscounts();
        }).fail(function(jqXHR, status, error) {
          GSC.discounts_timestamp = null;
          console.log(status, error);
        });
      }
      // GSC.GetDiscounts() - get beer price discounts by type and render the data
      if (typeof GSC.GetDiscounts !== "function") GSC.GetDiscounts = function(type) {
        getDiscounts(type);
      }

      // render beer price discounts by type from local storage
      function renderDiscounts(type) {
        // prevent re-rendering
        if ($('#discounts').html()) return;
        // TODO: set type
        if (localStorage["discounts"]) {
          var discounts = JSON.parse(localStorage["discounts"]);
          if (discounts && discounts.discounts && discounts.groups) {
            GSC.discounts = discounts.discounts;
            GSC.discounts_groups = discounts.groups;
            $('#discounts_date').text(discounts.date);
            $('#discounts_description').text(discounts.description);
            // render groups
            $('#discounts_groups').html('{{ l.but_sorting }}');
            for (var el in GSC.discounts_groups) {
              $('#discount_group_template').clone().appendTo('#discounts_groups').removeClass('hidden').attr('id', 'group_' + el);
              $('#group_' + el).text(el).data('group', el);
            }
            var c = 0;
            var products = [];
            for (var el in GSC.discounts) {
              var item = GSC.discounts[el];
              // element not cloned yet
              if (!products[item.product]) {
                var skip = true;
                // check available markets
                for (var m in markets_allowed) {
                  if (item.market == markets_allowed[m]) {
                    skip = false;
                    break;
                  }
                }
                // next discount
                if (skip) continue;
                // clone the element
                c++;
                products[item.product] = c;
                $('#discount_template').clone().appendTo('#discounts').removeClass('hidden').attr('id', 'beer_' + item.product);
                $('#beer_' + item.product + ' .counter').text(c);
                $('#beer_' + item.product + ' .title').text(item.title);
                $('#beer_' + item.product).data('product', item.product).data('code', item.code);
              }
              // set element extra properties
              $('#beer_' + item.product + ' .' + item.market).removeClass('hidden');
              $('#beer_' + item.product + ' .' + item.market + '_price').html(item.price + '&nbsp;Kč');
            }
            // final counter
            $('#discounts .counter_all').text(c);
            updateDiscountFilters();
          }
        }
      }
      // GSC.RenderDiscounts(type) - render beer price discounts by type from local storage
      if (typeof GSC.RenderDiscounts !== "function") GSC.RenderDiscounts = function(type) {
        renderDiscounts(type);
      }

      // update discount filters
      function updateDiscountFilters() {
        $('.filter_group').click(function() {
          var group = $(this).data('group');
          if (group) {
            GSC.discount_filter_group = group;
          }
        });
      }

      // get user information and set UI elements
      function getUser() {
        if (GSC.user) {
          setUserUI();
          return;
        }
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.user_timestamp && (GSC.user_timestamp + 10*1000 > +new Date())) return false;
        var nonce = "?nonce=" + Math.round(Math.random() * 1000000);
        var apikey = GSC.apikey ? '&apikey=' + GSC.apikey : '';
        $.get('/api/v1/GetUser' + nonce + apikey, function(data) {
          $('.quota_actual').html(data.api_usage);
          $('.quota_total').html(data.api_quota);
          if (data && data.data && data.data.user) {
            GSC.user_timestamp = +new Date();
            GSC.user = data.data.user;
            setUserUI();
          }
        });
      }
      // GSC.GetUser() - get user information and set UI elements
      if (typeof GSC.GetUser !== "function") GSC.GetUser = function() {
        getUser();
      }
      getUser();

      // get daily salt
      function getSalt() {
        // compute today date
        var d = new Date();
        var dd = d.getDate();
        var mm = d.getMonth() + 1; 
        var yyyy = d.getFullYear();
        if (dd < 10) dd = '0' + dd; 
        if (mm < 10) mm = '0' + mm; 
        d = yyyy + '-' + mm + '-' + dd;
        if (GSC.salt && GSC.today && GSC.today == d) return true;
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.salt_timestamp && (GSC.salt_timestamp + 10*1000 > +new Date())) return false;
        var nonce = "?nonce=" + Math.round(Math.random() * 1000000);
        $.get('/api/v1/GetSalt' + nonce, function(data) {
          $('.quota_actual').html(data.api_usage);
          $('.quota_total').html(data.api_quota);
          if (data && data.data && data.data.salt && data.data.today) {
            GSC.salt_timestamp = +new Date();
            GSC.salt = data.data.salt;
            GSC.today = data.data.today;
            GSC.D('<b>' + GSC.today + ' salt</b> ' + GSC.salt);
            GSC.GenerateAPIkey();
          }
        });
      }
      // GSC.GetSalt() - get salt information
      if (typeof GSC.GetSalt !== "function") GSC.GetSalt = function() {
        getSalt();
      }
      getSalt();

      // get API key
      function generateAPIkey() {
        if (!GSC.pin) return;
        if (!GSC.salt) return;
        // generate SHA-256 hash of PIN + salt
        try {
          sha256(GSC.pin + GSC.salt).then(function (hash) {
            if (hash.length == 64) {
              GSC.apikey = hash;
              localStorage['apikey'] = hash;
              GSC.D('<b>apikey</b> ' + hash);
              GSC.user = null;
              GSC.GetUser();
            }
          });
        } catch(e) {
          // unsupported browser
          w.location.href = '/err/600';
        }
      }
      // GSC.GenerateAPIkey() - get API key information
      if (typeof GSC.GenerateAPIkey !== "function") GSC.GenerateAPIkey = function() {
        generateAPIkey();
      }

      // set user information UI
      function setUserUI() {
        if (!GSC.user) return false;
        if (GSC.user.avatar && GSC.user.avatar.startsWith('https://')) {
          $('#avatar').attr('src', GSC.user.avatar).removeClass('hidden');
          $('.nav_user>i').remove();
        }
        if (GSC.user.login_type) {
          $('#login_type').html(GSC.user.login_type);
          $('#login_type_row').removeClass('hidden');
        } else {              
          $('#login_type_row').addClass('hidden');
        }
        if (GSC.user.security_level) {
          $('#security_level').html(security_levels[GSC.user.security_level]);
          $('#security_level_row').removeClass('hidden');
        } else {
          $('#security_level_row').addClass('hidden');
        }
        if (GSC.user.role) {
          $('#role').html(GSC.user.role.replace(' ', '&nbsp;'));
          $('#user_role').html(GSC.user.role.replace(' ', '&nbsp;')).removeClass('hidden').addClass('active');
          $('#role_row').removeClass('hidden');
          $('.nav_app').css('position', 'relative').css('top', '-5px');
        } else {
          $('#role').html('');
          $('#user_role').html('').addClass('hidden').removeClass('active');
          $('#role_row').addClass('hidden');
          $('.nav_app').css('position', 'relative').css('top', '0');
        }
      }      

      // check backend version every minute
      GSC.chverint = setInterval(function() {
        checkVersion()
      }, 60*1000);
      checkVersion();
    });

    // UI theme
    GSC._fn.push(function SetUI() {
      ui("theme", {
        dark: "--primary:#c00000;--on-primary:#5f150d;--primary-container:#7d2b20;--on-primary-container:#ffdad3;--secondary:#e7bdb6;--on-secondary:#442925;--secondary-container:#5d3f3a;--on-secondary-container:#ffdad3;--tertiary:#dec48c;--on-tertiary:#3e2e04;--tertiary-container:#564418;--on-tertiary-container:#fbdfa5;--error:#ffb4a9;--error-container:#930006;--on-error:#680003;--on-error-container:#ffdad4;--background:#201a19;--on-background:#ede0de;--surface:#201a19;--on-surface:#ede0de;--surface-variant:#534341;--on-surface-variant:#d8c2be;--outline:#a08c89;--inverse-on-surface:#201a19;--inverse-surface:#ede0de;--inverse-primary:#9c4235;--shadow:#000000;",
        light: "--primary:#c00000;--on-primary:#ffffff;--primary-container:#ffdad3;--on-primary-container:#410000;--secondary:#775752;--on-secondary:#ffffff;--secondary-container:#ffdad3;--on-secondary-container:#2c1511;--tertiary:#705c2e;--on-tertiary:#ffffff;--tertiary-container:#fbdfa5;--on-tertiary-container:#261a00;--error:#ba1b1b;--error-container:#ffdad4;--on-error:#ffffff;--on-error-container:#410001;--background:#fcfcfc;--on-background:#201a19;--surface:#fcfcfc;--on-surface:#201a19;--surface-variant:#f5deda;--on-surface-variant:#534341;--outline:#867370;--inverse-on-surface:#fbeeec;--inverse-surface:#362f2e;--inverse-primary:#ffb4a6;--shadow:#000000;"
      });
    });

  })(window, $);
</script>
