<div id="appinfo_modal" class="modal hidden">
  <article class="no-padding">
    <div class="row no-wrap no-space">
      <div class="col">
        <div class="padding">
          <h5 class="bold white-text" tabindex="-1">{{ l.tit_appinfo }}</h5>
          <div>
            <div class="bold">
              <a rel=nofollow target=_blank class="green-text alias" href="https://github.com/GSCloud/kaufland">https://github.com/GSCloud/kaufland</a>
            </div>
            <br>
            <div class="small-text" tabindex="-1">
              {{ l.txt_version }} <b class="white-text">{{ VERSION_SHORT }}</b>
              &nbsp;&nbsp;
              {{ l.txt_date }} <b class="white-text">{{ VERSION_DATE }}</b>
              <br>
              <div class="center bold large-text orange-text">
                {{>webshare}}
              </div>
              <br>
              <nav class="container">
                <button class="nav_api grey responsive bold white-text">{{ l.but_api }}</button>
              </nav>
              <nav class="container">
                <button class="nav_changelog responsive blue bold help white-text">{{ l.but_changelog }}</button>
              </nav>
            </div>
          </div>
          <nav class="container">
            <button class="nav_update responsive blue bold white-text">{{ l.but_update }}</button>
          </nav>
          <br>
          <div class="row">
            <div class="col s6">
              <a href="https://web.dev/progressive-web-apps/"><img class="responsive" src="{{ cdn }}/img/pwa.png" alt="PWA"/></a>
            </div>
            <div class="col s6">
              <a href="https://beercss.com/"><img class="responsive" src="{{ cdn }}/img/beercss.png" alt="Beercss"/></a>
            </div>
          </div>
          <div class="small-text bold center">
            {{ l.author }}
          </div>
          <div class="small-text center">
            {{ l.no_cookies }}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div id="changelog_modal" class="modal medium hidden">
  <article class="no-padding">
    <div class="row no-wrap no-space">
      <div class="col">
        <div class="no-padding">
          <div id="changelog_box" class="white-text padding"></div>
        </div>
      </div>
    </div>
  </article>
</div>
<div id="err_connection" class="toast pink white-text hidden">
  <i>error</i>
  <span>{{ l.err_connection}}</span>
</div>
<div id="xhr_error" class="toast pink white-text hidden">
  <i>error</i>
  <span id="xhr_error_text"></span>
</div>
<div id="pin_saved" class="toast green white-text hidden">
  <i>check_circle_outline</i>
  <span>{{ l.info_pin_saved }}</span>
</div>
<div id="info" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_info }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Zde budou základní informace o práci lahvaře a fungování lahvárny Kaufland.</p>
    </div>
  </div>
</div>
<div id="game" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_game }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>V přípravě jsou hry <b>Milionář z lahvárny</b> a <b>Lahvové pexeso</b>.</p>
    </div>
  </div>
</div>
<div id="message" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_message }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Centrální místo pro pracovní vzkazy a generované logy o provedených akcích.</p>
    </div>
  </div>
</div>
<div id="price" class="hidden section">
  <div class="center">
    <span class="bold" id="discounts_description"></span>&nbsp; <span id="discounts_date"></span> &nbsp;<span id="discounts_total"></span>
    <div class="small-padding small-text">
      <span style="white-space:nowrap">{{ l.but_market }}&nbsp;
      <button style="margin:2px" class="discountswitch sw1" data-set="market=1">{{ l.but_market_local }}</button>
      <button style="margin:2px" class="discountswitch sw2" data-set="market=2">{{ l.but_market_all }}</button></span>
      &nbsp;
      <span style="white-space:nowrap">{{ l.but_sort }}&nbsp;
      <button style="margin:2px" class="discountswitch sw3" data-set="sorting=1">{{ l.but_sort_default }}</button>
      <button style="margin:2px" class="discountswitch sw4" data-set="sorting=2">{{ l.but_sort_alpha }}</button></span>
      &nbsp;
      <span style="white-space:nowrap">{{ l.but_category }}&nbsp;
      <button style="margin:2px" class="discountswitch sw5" data-set="source=1">{{ l.but_beer_bottled }}</button>
      <button style="margin:2px" class="discountswitch sw6" data-set="source=2">{{ l.but_beer_bottled_history }}</button>
      <button style="margin:2px" class="discountswitch sw7" data-set="source=3">{{ l.but_beer_all }}</button></span>
    </div>
  </div>
  <div class="no-padding">
    <div id="discounts_filters"></div>
    <div id="discounts_groups"></div>    
  </div>
  <div id="discounts_favorites"></div>
  <div id="discounts"></div>
  <button id="discount_group_template" class="filter_group hidden small secondary round" style="margin:2px;font-size:10px"></button>
  <div id="discount_template" class="hidden beer_discount">
    <div class="no-padding" style="margin-top:5px"><b class="title copy truncate"></b></div>
    <div class="row no-padding white-text" style="border-bottom:2px solid #000">
      <div class="col s1 kaufland hidden"><img class="square responsive" src="{{ cdn }}/img/markets/kaufland.webp"></div>
      <div class="col s2 kaufland left-align hidden"><b class="kaufland_price"></b></div>
      <div class="col s1 lidl hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/lidl.webp"></div>
      <div class="col s2 lidl left-align hidden"><b class="lidl_price"></b></div>
      <div class="col s1 penny hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/penny.webp"></div>
      <div class="col s2 penny left-align hidden"><b class="penny_price"></b></div>
      <div class="col s1 albert hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/albert.webp"></div>
      <div class="col s2 albert left-align hidden"><b class="albert_price"></b></div>
      <div class="col s1 billa hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/billa.webp"></div>
      <div class="col s2 billa left-align hidden"><b class="billa_price"></b></div>
      <div class="col s1 cba hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/cba.webp"></div>
      <div class="col s2 cba left-align hidden"><b class="cba_price"></b></div>
      <div class="col s1 eso hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/eso.webp"></div>
      <div class="col s2 eso left-align hidden"><b class="eso_price"></b></div>
      <div class="col s1 flop hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/flop.webp"></div>
      <div class="col s2 flop left-align hidden"><b class="flop_price"></b></div>
      <div class="col s1 globus hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/globus.webp"></div>
      <div class="col s2 globus left-align hidden"><b class="globus_price"></b></div>
      <div class="col s1 jip hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/jip.webp"></div>
      <div class="col s2 jip left-align hidden"><b class="jip_price"></b></div>
      <div class="col s1 makro hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/makro.webp"></div>
      <div class="col s2 makro left-align hidden"><b class="makro_price"></b></div>
      <div class="col s1 tamda hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/tamda.webp"></div>
      <div class="col s2 tamda left-align hidden"><b class="tamda_price"></b></div>
      <div class="col s1 tesco hidden"><img  class="square responsive" src="{{ cdn }}/img/markets/tesco.webp"></div>
      <div class="col s2 tesco left-align hidden"><b class="tesco_price"></b></div>
    </div>
  </div>
</div>
<div id="warehouse" class="white-text hidden section">
  <div class="center-align padding">
    <h4 class="center-align" tabindex="-1">{{ l.tit_warehouse }}</h4>
    <div class="left-align padding" tabindex="-1">
      <p>Orientační náhled skladových zásob.</p>
    </div>
  </div>
</div>
<div id="config" class="white-text hidden section">
  <div class="center-align padding">
    <div class="padding" tabindex="-1">
      <div class="row large-space">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="ui">
            <span>{{ l.switch_design }}</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="vibrate">
            <span>{{ l.switch_vibrate }}</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 right-align">
          <label class="switch">
            <input type="checkbox" class="sfx">
            <span>{{ l.switch_sfx }}</span>
          </label>
        </div>
        <div class="col s6 left-align">
          <label class="switch">
            <input type="checkbox" class="music">
            <span>{{ l.switch_music }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="user" class="white-text hidden section">
  <div class="center-align padding">
    <div class="left-align no-padding" tabindex="-1">
      <div class="center padding">
        {{ l.info_demo }}
      </div>
      <div class="row">
        <div class="col s6">
          <div class="small field label prefix border">
            <i>password</i>
            <input id="pin" autocomplete="off" name="pin" type="password"/>
            <label>PIN</label>
          </div>
        </div>
        <div class="col s6">
          <button class="responsive blue white-text save_pin bold">
            {{ l.but_save_pin }}
          </button>
        </div>
      </div>
      {{^user.id}}
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>login}}
            </div>
          </div>
        </div>
      </div>
      {{/user.id}}
      <div class="center-align small-padding" tabindex="-1">
        <div id="role_row" class="hidden">{{ l.text_role }} <b id="role"></b><br></div>
        <div id="login_type_row" class="hidden">{{ l.text_login_type }} <b id="login_type"></b><br></div>
        <div id="security_level_row" class="hidden">
          {{ l.text_security_level }} <b id="security_level"></b><br>
          {{#user.id}}{{ l.text_encryption }} <b>XChaCha20 + BLAKE2b-MAC</b><br>{{/user.id}}
        </div>
        {{l.txt_quota }}&nbsp;<span class="bold quota_actual"></span>/<span class="bold quota_total"></span>
      </div>
      {{#user.id}}
      <article class="border">
        <div class="row">
          <div class="column">
            <div class="center">
              {{>logout}}
            </div>
          </div>
        </div>
      </article>
      {{/user.id}}
    </div>
  </div>
{{#admin_group_tester}}
    <div class="center-align padding" tabindex="-1">
      <a href="?cssdebug=1&nonce={{ nonce }}" class="">
        <button class="responsive blue bold white-text">CSS debugger</button>
      </a>
    </div>
    <article id="debuglist" class="truncate left-align black small-padding small-text" tabindex="-1">
    </article>
{{/admin_group_tester}}
</div>
<script>
  (function (w, $, undefined) {
    'use strict';

    // something is really broken = unsupported browser
    if (!localStorage) {
      w.location.href = '/err/600';
      if (!localStorage['uuid']) {
        w.location.href = '/err/600';
      }
    }

    // AudioContext
    GSC.audioctx = null;

    // last interaction time
    GSC.lastclick = null

    // user information
    GSC.user = null;

    // list of modals
    GSC.modals = [];

    // audio buffers
    GSC.sfxbuffers = [];

    // today date
    GSC.today = null;

    // today salt
    GSC.salt = null;

    // discount switch
    GSC.discountswitch = {
      market: 1,
      sorting: 1,
      source: 1,
    };
    if (localStorage['discountswitch']) {
      GSC.discountswitch = JSON.parse(localStorage['discountswitch']);
    }

    // API translations
    var security_levels = [];
    security_levels['high'] = '{{ l.security_level_high }}';
    security_levels['low'] = '{{ l.security_level_low }}';
    security_levels['none'] = '{{ l.security_level_none }}';
    security_levels['pin'] = '{{ l.security_level_pin }}';

    // near markets
    var markets_allowed = [
      'kaufland',
      'lidl',
      'penny',
      'albert'
    ];

    // all markets
    var markets_all = [
      'kaufland',
      'lidl',
      'penny',
      'albert',
      'billa',
      'cba',
      'eso',
      'flop',
      'globus',
      'makro',
      'tesco',
    ];

    // context menu
    w.oncontextmenu = function(e) {
      if (e.target && e.target.id) {
        // switch by id
        switch (e.target.id) {
          case 'logo':
            if (GSC.touch) $('.nav_update').click();
            break;

          default:
            console.log(e.target.id);
        }
      }
      return true; // true = enable context menu
      return false; // false = prevent context menu
    }

    // *** GSC FUNCTIONS ***

    // GSC.ComOn() - communication icon fade-in = ON
    if (typeof GSC.ComOn !== 'function') GSC.ComOn = function() {
      if (GSC.offline) return;
      if (!document.hidden) {
        $('#comm').removeClass('hidden').fadeIn(5);
      }
    }

    // GSC.ComOff() - communication icon fade-out = OFF
    if (typeof GSC.ComOff !== 'function') GSC.ComOff = function() {
      $('#comm').removeClass('hidden').fadeOut(25);
    }

    // GSC.D() - add text to debug list (string)
    if (typeof GSC.D !== 'function') GSC.D = function(x) {
      if (x === undefined) return;
      var current = new Date();
      var t = current.toLocaleTimeString(); 
      $('#debuglist').prepend('<p><span class="green-text">' + t + '</span>&nbsp;' + x + '</p>');
    }

    // GSC.Vibrate() - vibration (array)
    if (typeof GSC.Vibrate !== 'function') GSC.Vibrate = function(x) {
      if (x === undefined) return;
      window.navigator.vibrate(x);
    }

    // GSC.DefClick() - default sound click
    if (typeof GSC.DefClick !== 'function') GSC.DefClick = function() {
      if (GSC.preventclick) return;
      GSC.PlaySound('click4');
    }

    // *** DELAYED FUNCTIONS ***

    // add nonce to anchors
    GSC._fn.push(function AddNonceToAnchors() {
      $('main')
        .find('a')
        .each(function () {
          var h = $(this).attr('href');
          var nonce = '?nonce=' + Math.round(Math.random() * 1000000);
          if (h && h.indexOf('?') == -1 && h.indexOf('http') != -1) {
            $(this).attr('href', h + nonce);
          }
        });
    });

    // AJAX event handlers
    GSC._fn.push(function AJAXeventHandlers() {
      $(document).ajaxSend(function(evt, request, settings) {
        GSC.ComOn();
        GSC.D('<b>'
          + settings.type
          + '</b> <a class="blue-text underline" target=_blank href="'
          + settings.url + '">'
          + settings.url + '</a>');
      });
      $(document).ajaxComplete(function() {
        GSC.ComOff();
      });
    });

    // custom functions
    GSC._fn.push(function CustomGSCfunctions() {

      // set quota text
      function setQuota(data) {
          if (data.api_usage) $('.quota_actual').html(data.api_usage);
          if (data.api_quota) $('.quota_total').html(data.api_quota);
      };

      // check version
      function checkVersion() {
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.version_timestamp && (GSC.version_timestamp + 10*1000 > +new Date())) return false;
        var nonce = '?nonce=' + Math.round(Math.random() * 1000000);
        $.get('/api/v1/GetVersion' + nonce, function(data) {
          setQuota(data);
          GSC.version_timestamp = +new Date();
          if (data && data.data && data.data.version) {
            if (data.data.version != '{{ VERSION }}') {
              if (GSC.chverint) {
                clearInterval(GSC.chverint);
              }
              $('.nav_app>span.badge').removeClass('hidden');
              $('.nav_update').removeClass('blue').addClass('red');
              GSC.D('<span class="red bold white-text">&nbsp;NEW VERSION IS AVAILABLE!&nbsp;</span>');
              GSC.PlaySound('update');
              // skip the modal dialog if user interaction is under 60 seconds
              if (GSC.lastclick && (+new Date() < (GSC.lastclick + 60*1000))) return;
              if (GSC.modals.length) {
                GSC.modals.forEach(el => {
                  $('#' + el).removeClass('active');
                });
              }
              GSC.modals = [];
              GSC.modals.push('appinfo_modal');
              $('#appinfo_modal').addClass('active');
            }
          }
        });
      }

      // get beer price discounts
      function getDiscounts() {
        if (GSC.offline) {
          GSC.RenderDiscounts();
          return;
        }
        // invalidate discounts timestamp after 10 minutes
        if (GSC.discounts_timestamp && (GSC.discounts_timestamp + 600*1000 < +new Date())) GSC.discounts_timestamp = null;
        // 30 secs. timeout limiter
        if (GSC.discounts_timestamp && (GSC.discounts_timestamp + 30*1000 > +new Date())) {
          GSC.RenderDiscounts();
          return;
        }
        // prevent concurrent runtime
        GSC.discounts_timestamp = +new Date();
        var all = '';
        if (GSC.discountswitch["source"] == 2) {
          all = 'History';
        }
        if (GSC.discountswitch["source"] == 3) {
          all = 'All';
        }
        var ext = '';
        if (GSC.discountswitch["sorting"] == 2) {
          ext = 'ByName';
        }
        var nonce = '?nonce=' + Math.round(Math.random() * 1000000);
        $.get('/api/v1/GetDiscounts' + all + ext + nonce).done(function(data) {
          GSC.discounts_timestamp = +new Date();
          setQuota(data);
          if (data && data.data) {
            localStorage['discounts'] = JSON.stringify(data.data);
          }
          GSC.RenderDiscounts();
        }).fail(function(jqXHR, status, error) {
          GSC.discounts_timestamp = null;
          console.log('RenderDiscounts', status, error);
        });
      }
      // GSC.GetDiscounts() - get beer price discounts by type and render the data
      if (typeof GSC.GetDiscounts !== 'function') GSC.GetDiscounts = function(type) {
        getDiscounts(type);
      }

      // render beer price discounts by type from local storage
      function renderDiscounts() {
        if (GSC.offline) {
          setTimeout(function () {
            $('#err_connection').addClass('active');
          }, 10);
        }
        $('#discounts').html('');
        $('#discounts_favorites').html('');
        if (localStorage['discounts']) {
          var discounts = JSON.parse(localStorage['discounts']);
          if (discounts && discounts.discounts && discounts.groups) {
            GSC.discounts = discounts.discounts;
            GSC.discounts_groups = discounts.groups;
            $('#discounts_date').text(discounts.date);
            $('#discounts_description').text(discounts.description);
            // render groups heading and the clear button
            if (GSC.ui == 'dark') {
              $('#discounts_groups').html('{{ l.but_sorting }}').append('<button class="clear_groups_filtering transparent hidden white-text"><span class="bold" id=selgroup></span>X</button>');
            } else {
              $('#discounts_groups').html('{{ l.but_sorting }}').append('<button class="clear_groups_filtering transparent hidden black-text"><span class="bold" id=selgroup></span>X</button>');
            }
            // render groups
            for (var el in GSC.discounts_groups) {
              $('#discount_group_template').clone().appendTo('#discounts_groups').removeClass('hidden').attr('id', 'group_' + el);
              $('#group_' + el).text(el).data('group', el);
            }

            var c = 0; // counter
            var col = 0; // number of columns
            var products = [];

            // set markets range by the switch state
            var markets = markets_allowed;
            if (GSC.discountswitch["market"] == 2) {
              var markets = markets_all;
            }

            for (var el in GSC.discounts) {
              var item = GSC.discounts[el];
              var skip = true;
              for (var m in markets) {
                if (item.market == markets[m]) {
                  skip = false;
                  break;
                }
              }
              if (skip) continue; // next discount
              if (!products[item.product]) { // clone the element
                c++;
                var id = item.product;
                products[id] = c;
                if (GSC.favorites[id]) {
                  $('#discount_template').clone().appendTo('#discounts_favorites').removeClass('hidden').attr('id', 'beer_' + id).data('fav', true);
                  if (GSC.ui == 'dark') { // set favorites color
                    $('#beer_' + id + ' .title').addClass('yellow-text');
                  } else {
                    $('#beer_' + id + ' .title').addClass('red-text');
                  }
                } else {
                  $('#discount_template').clone().appendTo('#discounts').removeClass('hidden').attr('id', 'beer_' + id).data('fav', false);
                }
                $('#beer_' + id + ' .title').text(item.title).data('id', id);
                $('#beer_' + id).data('product', id).data('code', item.code).data('order', item.id);
              }
              // set extra properties
              $('#beer_' + item.product + ' .' + item.market).removeClass('hidden');
              $('#beer_' + item.product + ' .' + item.market + '_price').html(item.price + '&nbsp;Kč');
            }
            $('#discounts_total').text('(' + c + ')');
            // update filters and handlers
            updateDiscountFilters();
            // hide filters on render
            if (GSC.discounts_filter_group == null) {
              $('#discounts_groups .filter_group').addClass('hidden');
            }
            // fix viewport columns height
            //var width = document.documentElement.clientWidth;
            //if (width > 768) width = 768;
            var h = $('div.col.s1').height();
            $('div.col.s2').height(h + 10);
            // click the group filter button
            if (GSC.discounts_filter_group_id) {
              $('#' + GSC.discounts_filter_group_id).click();
              $('.clear_groups_filtering').removeClass('hidden transparent').addClass('red');
            }
          }
        }
      }
      // GSC.RenderDiscounts() - render beer price discounts by type from local storage
      if (typeof GSC.RenderDiscounts !== 'function') GSC.RenderDiscounts = function() {
        renderDiscounts();
      }

      // update filters handlers
      function updateDiscountFilters() {

        // FILTER: filter by group
        $('.filter_group').click(function() {
          var group = $(this).data('group');
          if (group) {
            GSC.discounts_filter_group = group;
            GSC.discounts_filter_group_id = $(this).attr('id');
            $('#selgroup').html(group + '&nbsp;&nbsp;&nbsp;').addClass('hidden');
            $('#discounts_groups .filter_group').removeClass('blue').addClass('secondary');
            $(this).removeClass('secondary').addClass('blue');
            $('.clear_groups_filtering').removeClass('transparent').addClass('red');
            $('#discounts .beer_discount, #discounts_favorites .beer_discount').addClass('hidden');
            GSC.discounts_groups[group].forEach(el => {
              $('#beer_' + el).removeClass('hidden');
            });
          }
        });

        // FILTER: clear filtering
        $('.clear_groups_filtering').click(function() {
          GSC.PlaySound('click1');
          GSC.discounts_filter_group = null;
          GSC.discounts_filter_group_id = null;
          $('#discounts .beer_discount, #discounts_favorites .beer_discount').removeClass('hidden');
          $('#discounts_groups .filter_group').removeClass('blue').addClass('secondary hidden');
          $(this).removeClass('red').addClass('transparent hidden');
          $('#selgroup').html('').addClass('hidden');
        });

        // FILTER: toggle groups visibility
        $('.groups_filter').click(function() {
          GSC.PlaySound('click2');
          $('#discounts_groups .filter_group').toggleClass('hidden');
          $('#selgroup').toggleClass('hidden');
          if (GSC.discounts_filter_group) {
            $('.clear_groups_filtering').removeClass('hidden');
          } else {
            $('.clear_groups_filtering').toggleClass('hidden');
          }
        });

        // FAVORITES: add/remove item to/from favorites list
        $('#discounts .beer_discount .title, #discounts_favorites .beer_discount .title').click(function() {
          var id = $(this).data('id');
          if (!id) return;
          GSC.PlaySound('click6');
          var fav = $('#beer_' + id).data('fav');
          if (parseBool(fav)) { // remove item
            $('#beer_' + id).detach().data('fav', false).prependTo('#discounts');
            $('#beer_' + id + ' .title').removeClass('red-text yellow-text');
            delete GSC.favorites[id];
          } else { // add item
            $('#beer_' + id).detach().data('fav', true).appendTo('#discounts_favorites');
            if (GSC.ui == 'dark') {
              $('#beer_' + id + ' .title').addClass('yellow-text');
            } else {
              $('#beer_' + id + ' .title').addClass('red-text');
            }
            GSC.favorites[id] = true;
          }
          localStorage['favorites'] = JSON.stringify(GSC.favorites);
        })
      }

      // discount switch handler
      $('.discountswitch').click(function() {
        var set = $(this).data('set');
        if (set) {
          var dsold = JSON.stringify(GSC.discountswitch);
          var p = set.split('=');
          GSC.discountswitch[p[0]] = parseInt(p[1]);
          localStorage['discountswitch'] = JSON.stringify(GSC.discountswitch);
          var dsnew = localStorage['discountswitch'];
          setDiscountSwitchUI();
          if (dsnew !== dsold) {
            GSC.discounts_timestamp = null;
            GSC.DefClick();
            getDiscounts();
          }
        }
      });

      // set UI for switches
      function setDiscountSwitchUI() {
        $('.discountswitch').removeClass('blue').addClass('grey');
        switch (GSC.discountswitch["market"]) {
          case 2: // all markets
            $('.sw2').removeClass('grey').addClass('blue');
          break;
          default: // local markets
            $('.sw1').removeClass('grey').addClass('blue');
        }
        switch (GSC.discountswitch["sorting"]) {
          case 2: // A-Z sorting
            $('.sw4').removeClass('grey').addClass('blue');
          break;
          default: // popularity sorting
            $('.sw3').removeClass('grey').addClass('blue');
        }
        switch (GSC.discountswitch["source"]) {
          case 2:
            GSC.discountswitch["source"] = 1;
            //$('.sw6').removeClass('grey').addClass('blue');
            setDiscountSwitchUI();
          break;
          case 3:
            $('.sw7').removeClass('grey').addClass('blue');
          break;
          default:
            $('.sw5').removeClass('grey').addClass('blue');
        }
      }
      setDiscountSwitchUI();

      // get user information / set UI
      function getUser() {
        if (GSC.user) {
          setUserUI();
          return;
        }
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.user_timestamp && (GSC.user_timestamp + 10*1000 > +new Date())) return false;
        var nonce = '?nonce=' + Math.round(Math.random() * 1000000);
        var apikey = GSC.apikey ? '&apikey=' + GSC.apikey : '';
        $.get('/api/v1/GetUser' + nonce + apikey).done(function(data) {
          setQuota(data);
          if (data && data.data && data.data.user) {
            GSC.user_timestamp = +new Date();
            GSC.user = data.data.user;
            setUserUI();
          }
        }).fail(function(jqXHR, status, error) {
          GSC.discounts_timestamp = null;
          console.log('GetUser', status, error);
        });
      }
      // GSC.GetUser() - get user information and set UI elements
      if (typeof GSC.GetUser !== 'function') GSC.GetUser = function() {
        getUser();
      }
      getUser();

      // get daily salt
      function getSalt() {
        // compute today date
        var d = new Date();
        var dd = d.getDate();
        var mm = d.getMonth() + 1; 
        var yyyy = d.getFullYear();
        if (dd < 10) dd = '0' + dd; 
        if (mm < 10) mm = '0' + mm; 
        d = yyyy + '-' + mm + '-' + dd;
        if (GSC.salt && GSC.today && GSC.today == d) return true;
        if (GSC.offline) return;
        // 10 secs. timeout limiter
        if (GSC.salt_timestamp && (GSC.salt_timestamp + 10*1000 > +new Date())) return false;
        var nonce = '?nonce=' + Math.round(Math.random() * 1000000);
        $.get('/api/v1/GetSalt' + nonce).done(function(data) {
          setQuota(data);
          if (data && data.data && data.data.salt && data.data.today) {
            GSC.salt_timestamp = +new Date();
            GSC.salt = data.data.salt;
            GSC.today = data.data.today;
            GSC.D('<b>' + GSC.today + ' salt</b> ' + GSC.salt);
            GSC.GenerateAPIkey();
          }
        }).fail(function(jqXHR, status, error) {
          GSC.discounts_timestamp = null;
          console.log('GetSalt', status, error);
        });
      }
      // GSC.GetSalt() - get salt information
      if (typeof GSC.GetSalt !== 'function') GSC.GetSalt = function() {
        getSalt();
      }
      getSalt();

      // generate API key / get user credentials
      function generateAPIkey() {
        if (!GSC.pin) return;
        if (!GSC.salt) return;
        try { // generate SHA-256 from PIN + salt
          sha256(GSC.pin + GSC.salt).then(function (hash) {
            if (hash.length == 64) {
              GSC.apikey = hash;
              localStorage['apikey'] = hash;
              GSC.user = null;
              GSC.GetUser();
            }
          });
        } catch(e) {
          // unsupported browser
          w.location.href = '/err/600';
        }
      }
      // GSC.GenerateAPIkey() - get API key information
      if (typeof GSC.GenerateAPIkey !== 'function') GSC.GenerateAPIkey = function() {
        generateAPIkey();
      }

      // set user information UI
      function setUserUI() {
        if (!GSC.user) return false;
        if (GSC.user.avatar && GSC.user.avatar.startsWith('https://')) {
          $('#avatar').attr('src', GSC.user.avatar).removeClass('hidden');
          $('.nav_user>i').remove();
        }
        if (GSC.user.login_type) {
          $('#login_type').html(GSC.user.login_type);
          $('#login_type_row').removeClass('hidden');
        } else {              
          $('#login_type_row').addClass('hidden');
        }
        if (GSC.user.security_level) {
          $('#security_level').html(security_levels[GSC.user.security_level]);
          $('#security_level_row').removeClass('hidden');
        } else {
          $('#security_level_row').addClass('hidden');
        }
        if (GSC.user.role) {
          $('#role').html(GSC.user.role.replace(' ', '&nbsp;'));
          $('#user_role').html(GSC.user.role.replace(' ', '&nbsp;')).removeClass('hidden').addClass('active');
          $('#role_row').removeClass('hidden');
          $('.nav_app').css('position', 'relative').css('top', '-5px');
        } else {
          $('#role').html('');
          $('#user_role').html('').addClass('hidden').removeClass('active');
          $('#role_row').addClass('hidden');
          $('.nav_app').css('position', 'relative').css('top', '0');
        }
      }      

      // check backend version
      GSC.chverint = setInterval(function() {
        console.log('checkVersion');
        checkVersion()
      }, 30*1000);
      checkVersion();
    });

    // UI theme
    GSC._fn.push(function SetUI() {
      ui('theme', {
        dark: '--primary:#c00000;--on-primary:#5f150d;--primary-container:#7d2b20;--on-primary-container:#ffdad3;--secondary:#e7bdb6;--on-secondary:#442925;--secondary-container:#5d3f3a;--on-secondary-container:#ffdad3;--tertiary:#dec48c;--on-tertiary:#3e2e04;--tertiary-container:#564418;--on-tertiary-container:#fbdfa5;--error:#ffb4a9;--error-container:#930006;--on-error:#680003;--on-error-container:#ffdad4;--background:#201a19;--on-background:#ede0de;--surface:#201a19;--on-surface:#ede0de;--surface-variant:#534341;--on-surface-variant:#d8c2be;--outline:#a08c89;--inverse-on-surface:#201a19;--inverse-surface:#ede0de;--inverse-primary:#9c4235;--shadow:#000000;',
        light: '--primary:#c00000;--on-primary:#ffffff;--primary-container:#ffdad3;--on-primary-container:#410000;--secondary:#775752;--on-secondary:#ffffff;--secondary-container:#ffdad3;--on-secondary-container:#2c1511;--tertiary:#705c2e;--on-tertiary:#ffffff;--tertiary-container:#fbdfa5;--on-tertiary-container:#261a00;--error:#ba1b1b;--error-container:#ffdad4;--on-error:#ffffff;--on-error-container:#410001;--background:#fcfcfc;--on-background:#201a19;--surface:#fcfcfc;--on-surface:#201a19;--surface-variant:#f5deda;--on-surface-variant:#534341;--outline:#867370;--inverse-on-surface:#fbeeec;--inverse-surface:#362f2e;--inverse-primary:#ffb4a6;--shadow:#000000;'
      });
    });

  })(window, $);
</script>
