<!-- top navigation | all sizes -->
<nav class="top">
  <a class="nav_app">
    <img id="logo"
    class="circle small-margin"
    src="{{ cdn }}/img/favicon-256.png"
    />
  </a>
  <a class="nav_config">
    <i tabindex="-1" class="large" data-color="yellow-text">build</i>
    <div>
      <b tabindex="-1">{{ l.nav_config }}</b>
    </div>
  </a>
  <a class="nav_user">
    <i tabindex="-1" class="large" data-color="blue-text">face</i>
    <div>
      <b tabindex="-1">{{ l.nav_user }}</b>
    </div>
  </a>
</nav>

<!-- bottom navigation | medium large -->
<nav class="bottom m l">
  <a class="nav_info">
    <i tabindex="-1" class="large" data-color="blue-text">info</i>
    <div>
      <b tabindex="-1">{{ l.nav_info }}</b>
    </div>
  </a>
  <a class="nav_game">
    <i tabindex="-1" class="large" data-color="black-text">sports_esports</i>
    <div>
      <b tabindex="-1">{{ l.nav_game }}</b>
    </div>
  </a>
  <a class="nav_message">
    <i tabindex="-1" class="large" data-color="green-text">message</i>
    <div>
      <b tabindex="-1">{{ l.nav_message }}</b>
    </div>
  </a>
  <a class="nav_price">
    <i tabindex="-1" class="large" data-color="red-text">paid</i>
    <div>
      <b tabindex="-1">{{ l.nav_price }}</b>
    </div>
  </a>
  <a class="nav_warehouse">
    <i tabindex="-1" class="large" data-color="orange-text">warehouse</i>
    <div>
      <b tabindex="-1">{{ l.nav_warehouse }}</b>
    </div>
  </a>
</nav>

<!-- bottom navigation | small -->
<nav class="bottom s">
  <a class="nav_info">
    <i tabindex="-1" class="large" data-color="blue-text">info</i>
  </a>
  <a class="nav_game">
    <i tabindex="-1" class="large" data-color="black-text">sports_esports</i>
  </a>
  <a class="nav_message">
    <i tabindex="-1" class="large" data-color="green-text">message</i>
  </a>
  <a class="nav_price">
    <i tabindex="-1" class="large" data-color="red-text">paid</i>
  </a>
  <a class="nav_warehouse">
    <i tabindex="-1" class="large" data-color="orange-text">warehouse</i>
  </a>
</nav>

<script>
  (function (w, $, undefined) {
    "use strict";

    // *** DELAYED FUNCTIONS ***

    GSC._fn.push(function () {

      // NAVIGATION CLICK HANDLERS - TOP
      
      // logo
      $(".nav_app").click(function () {
        top.location.reload();
      })
      
      // config
      $(".nav_config").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })
      
      // user
      $(".nav_user").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

      
      // NAVIGATION CLICK HANDLERS - BOTTOM

      // info
      $(".nav_info").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

      // game
      $(".nav_game").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

      // message
      $(".nav_message").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

      // price
      $(".nav_price").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

      // warehouse
      $(".nav_warehouse").click(function () {
        var c = this.className;
        $("." + c + ">i").addClass($("." + c + ">i").data("color"));
      })

    });
  })(window, $);

</script>
