<!-- top navigation | all sizes -->
<nav class="top">
  <img class="circle small-margin" src="{{ cdn }}/img/favicon-256.png" />
  <a>
    <i class="large white-text">build</i>
  </a>
  <a>
    <i class="large white-text">face</i>
  </a>
</nav>

<!-- bottom navigation | medium large -->
<nav class="bottom m l">
  <a>
    <i class="large blue-text">info</i>
    <div><b>Info</b></div>
  </a>
  <a>
    <i class="large black-text">sports_esports</i>
    <div><b>Hry</b></div>
  </a>
  <a>
    <i class="large green-text">message</i>
    <div><b>Zprávy</b></div>
  </a>
  <a>
    <i class="large red-text">paid</i>
    <div><b>Akce</b></div>
  </a>
  <a>
    <i class="large orange-text">warehouse</i>
    <div><b>Sklad</b></div>
  </a>
</nav>

<!-- bottom navigation | small -->
<nav class="bottom s">
  <a>
    <i class="large blue-text">info</i>
  </a>
  <a>
    <i class="large black-text">sports_esports</i>
  </a>
  <a>
    <i class="large green-text">message</i>
  </a>
  <a>
    <i class="large red-text">paid</i>
  </a>
  <a>
    <i class="large orange-text">warehouse</i>
  </a>
</nav>
